[phases.setup]
nixPkgs = ['php83', 'php83Extensions.pdo_pgsql', 'php83Extensions.redis', 'php83Extensions.sodium', 'php83Extensions.gd', 'php83Extensions.zip', 'php83Extensions.mbstring', 'nodejs', 'npm']
aptPkgs = ['tesseract-ocr']

[phases.install]
cmds = [
    'composer install --optimize-autoloader --no-dev --no-scripts --no-interaction'
]

[phases.build]
cmds = [
    'npm ci',
    'npm run build',
    'mkdir -p storage/framework/{sessions,views,cache}',
    'mkdir -p storage/logs',
    'chmod -R 775 storage bootstrap/cache',
    'chmod +x start.sh'
]

[start]
cmd = './start.sh'