[phases.setup]
nixPkgs = ['php83', 'php83Extensions.pdo_pgsql', 'php83Extensions.redis', 'php83Extensions.sodium', 'php83Extensions.gd', 'php83Extensions.zip', 'nodejs', 'npm']
aptPkgs = ['tesseract-ocr']

[phases.install]
cmds = [
    'composer install --optimize-autoloader --no-dev --no-scripts --no-interaction'
]

[phases.build]
cmds = [
    'npm ci',
    'npm run build',
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache'
]

[start]
cmd = 'php artisan serve --host=0.0.0.0 --port=$PORT'