[phases.setup]
nixPkgs = ['php83', 'php83Extensions.pdo_pgsql', 'php83Extensions.redis', 'php83Extensions.sodium', 'php83Extensions.gd', 'php83Extensions.zip', 'php83Extensions.mbstring', 'php83Extensions.exif', 'nodejs', 'npm', 'nginx']
aptPkgs = ['tesseract-ocr', 'libpng-dev', 'libjpeg-dev', 'libfreetype6-dev']

[phases.install]
cmds = [
    'composer install --optimize-autoloader --no-dev --ignore-platform-req=ext-gd'
]

[phases.build]
cmds = [
    'npm ci',
    'npm run build',
    'mkdir -p storage/framework/{sessions,views,cache}',
    'mkdir -p storage/logs',
    'chmod -R 775 storage bootstrap/cache',
    'chmod +x start.sh'
]

[start]
cmd = './start.sh'