[phases.setup]
nixPkgs = ['php83', 'php83Packages.composer', 'php83Extensions.pdo', 'php83Extensions.pdo_mysql', 'php83Extensions.mbstring', 'php83Extensions.xml', 'php83Extensions.zip', 'php83Extensions.gd', 'php83Extensions.imagick', 'libpng', 'libjpeg', 'freetype', 'tesseract']

[phases.install]
cmds = [
    'composer install --optimize-autoloader --no-dev --no-interaction --prefer-dist --ignore-platform-reqs'
]

[phases.build]
cmds = [
    'php artisan config:clear',
    'php artisan cache:clear'
]

[start]
cmd = 'php artisan serve --host=0.0.0.0 --port=$PORT'