[phases.setup]
nixPkgs = ['...', 'php83Extensions.pdo_pgsql', 'php83Extensions.redis', 'php83Extensions.sodium']
aptPkgs = ['tesseract-ocr', 'php8.3-gd', 'nginx']

[phases.install]
cmds = [
  'composer install --optimize-autoloader --no-scripts --no-interaction'
]

[phases.build]
cmds = [
  'npm ci',
  'npm run build',
  'chmod +x start.sh'
]

[start]
cmd = './start.sh'
